<style>
img {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}
</style>

{% extends "layout.html" %}
{% block content %}


    <div class="row">
{% for i in item %}
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ i.image_file }}">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-4">
                     <b>{{ i.name }} </b>   
                    </div>
                    <div class="col-4">
                      <b>${{ i.price }}</b>  
                    </div>
                </div>
                <div class="row">
              <div class="col">
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">1</a>
                      <a class="dropdown-item" href="#">2</a>
                      <a class="dropdown-item" href="#">3</a>
                    </div>
                  </div>
            </div>
        </div>
            </div>
          </div>
          <br>
    </div>
{% endfor %}
</div>

{% endblock content %}