<style>
img {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}
</style>

{% extends "layout.html" %}
{% block content %}


    <div class="row">
{% for i in item %}
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ i.image_file }}">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-4">
                     <b>{{ i.name }} </b>   
                    </div>
                    <div class="col-4">
                      <b>${{ i.price }}</b>  
                    </div>
                </div>
                <div class="row">
              <div class="col-6">
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
            <div class="col-6">
            <form class="form-inline">
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Qty: 1</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </div>
        </div>
        
            </div>
          </div>
          <br>
    </div>
{% endfor %}
</div>

{% endblock content %}